.hero-img-container {
  background: var(--COLOR-BACKGROUND);
  border-radius: 0.5rem;
  overflow: hidden;
}

.hero-img-container > img {
  vertical-align: bottom;
}

/** Media Query **/

@media only screen and (max-width: 43em) {
  .hero-img-container {
    display: flex;
    height: 15rem;
  }
}

@media only screen and (max-width: 40em) {
  .card.w-24 {
    max-width: 22rem;
  }
}

@media only screen and (max-width: 28em) {
  .card.w-24 {
    max-width: 30rem;
    width: 30rem;
  }
}
