.main {
  color: var(--COLOR-TEXT-600);
  min-height: 85vh;
  padding: 3rem;
}

/** Media Query **/

@media only screen and (max-width: 40em) {
  /** present in wishlist and products page **/
  .card.w-25 {
    max-width: 22rem;
  }

  .main {
    padding: 3rem 0.5rem;
  }
}

@media only screen and (max-width: 32em) {
  /** present in wishlist and products page **/
  .card.w-25 {
    max-width: 30rem;
    width: 30rem;
  }
}
