.category-card {
  cursor: pointer;
  flex-direction: column;
  width: 30rem;
  color: var(--COLOR-TEXT-600);
}

.loading-category-card {
  cursor: unset;
}

.loading-category-card > span {
  background: var(--COLOR-BACKGROUND);
}

.loading-category-card > span:nth-child(1) {
  box-shadow: none;
}

.loading-category-card > span:nth-child(2) {
  height: 3rem;
  width: 20rem;
}

/** Media Query **/

@media only screen and (max-width: 43em) {
  .category-card {
    max-width: 22rem;
  }
}

@media only screen and (max-width: 28em) {
  .category-card {
    max-width: 18rem;
  }
}
